<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${org.coodex.example|ds.driverClassName:com.mysql.jdbc.Driver}"/>
        <property name="url"
                  value="${org.coodex.example|ds.url:jdbc:mysql://localhost:3306/concrete?useUnicode=true&amp;characterEncoding=UTF-8}"/>
        <property name="username" value="${org.coodex.example|ds.username:concrete-user}"/>
        <property name="password" value="${org.coodex.example|ds.pwd:pwd}"/>
    </bean>

    <!-- JPA Vendor - Hibernate -->
    <bean id="hibernateJpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <!-- entity manager -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <!-- use hibernate -->
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
        <!-- 指定Entity实体类包路径 -->
        <property name="packagesToScan">
            <array>
                <value>org.coodex.example.entities</value>
            </array>
        </property>

        <!-- JPA Vendor Settings : for hibernate -->
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${org.coodex.concrete.accounts|hibernate.dialect:org.hibernate.dialect.MySQL5Dialect}</prop>
                <prop key="hibernate.cache.provider_class">${org.coodex.concrete.accounts|hibernate.cache.provider_class:org.hibernate.cache.NoCacheProvider}</prop>
                <prop key="hibernate.show_sql">${org.coodex.concrete.accounts|hibernate.show_sql:false}</prop>
                <prop key="hibernate.format_sql">${org.coodex.concrete.accounts|hibernate.format_sql:true}</prop>
                <prop key="hibernate.hbm2ddl.auto">${org.coodex.concrete.accounts|hibernate.hbm2ddl.auto:update}</prop>
            </props>
        </property>
    </bean>

    <!-- transaction manager -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />

    <jpa:repositories
            entity-manager-factory-ref="entityManagerFactory"
            transaction-manager-ref="transactionManager"
            base-package="org.coodex.example.repos"/>


</beans>